In [1]:
name = 'shahzad'
print(name)

shahzad

In [4]:
name = 'hamza'
print (name)

hamza

In [7]:
name = 123
type (name)

int

In [8]:
a1 = '123'
type(a1)

str

In [9]:
1a = 'ahsan'
print (name)

SyntaxError: invalid syntax (<ipython-input-9-f0fe96bcb934>, line 1)

In [10]:
a a = 'ahsan'
print(name)

SyntaxError: invalid syntax (<ipython-input-10-7b0e8884d12b>, line 1)

In [11]:
@ #  = 'ali'
print(name)

SyntaxError: invalid syntax (<ipython-input-11-fbe0038f4af2>, line 1)

In [12]:
father_name = 'waheed'
print(name)

123

In [13]:
father-name = 'waheed'
print(name)

SyntaxError: can't assign to operator (<ipython-input-13-585536a42efc>, line 1)

In [14]:
a=5
b=3
a+b

8

In [15]:
a=10
b=7
a-b

3

In [17]:
a=3
b=2
a/b

1.5

In [18]:
a=3
b=2
a // b

1

In [19]:
a=5
b=2
a*b

10

In [20]:
c=10
d=3
c%d

1

In [21]:
c+3

13

In [22]:
3**2

9

In [24]:
a>b

True

In [25]:
a<b

False

In [26]:
3>2

True

In [28]:
first_name = 'hamza'
last_name = 'khan'
print(first_name +' '+last_name)

hamza khan

In [29]:
a=10
type(a)

int

In [30]:
str(a)

'10'

In [31]:
name = 'Ali'
age = 25
print("my name is name and my age is age")

my name is name and my age is age

# format